@import './variables/colors';
body{
  overflow: hidden;
}

// custom classes
.cover{
    object-fit: cover;
}
.border-l-8-positive {
  border-left: 8px solid $positive;
}
.border-l-8-negative {
  border-left: 8px solid $negative;
}
